# Aim: Loan Application Status Prediction using available dataset.

# Problem Statement:

This dataset includes details of applicants who have applied for loan. The dataset includes details like credit history, loan amount, their income, dependents etc.

Here our aim is to automate the loan eligibility process on the baisis of the data provided by the customer while filling up the application. These details are Gender, Marital Status, Education, Number of Dependents, Income, Loan Amount, Credit History and others.

# Dataset Description:

Loan_ID :- Unique Loan ID
Gender :- Male/ Female
Married :- Applicant married (Y/N)
Dependents :- Number of dependents
Education :- Applicant Education (Graduate/ Under Graduate)
Self_Employed :- Self employed (Y/N)
ApplicantIncome :- Applicant income
CoapplicantIncome :- Coapplicant income
LoanAmount :- Loan amount in thousands
Loan_Amount_Term :- Term of loan in months
Credit_History :- credit history meets guidelines
Property_Area :- Urban/ Semi Urban/ Rural
Loan_Status :- Loan approved (Y/N)

# Dependent Variable (Target Variable):

Loan_Status :- Loan approved (Y/N)

Import all required library

In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
import joblib
import scipy as stats
from scipy.stats import zscore
from sklearn.preprocessing import PowerTransformer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression, Lasso,Ridge
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor as KNN
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.linear_model import SGDRegressor
from sklearn.metrics import classification_report
from sklearn.model_selection import cross_val_score
from sklearn import metrics
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix,roc_auc_score,roc_curve
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier
from sklearn.model_selection import GridSearchCV
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [9]:
data = pd.read_csv('https://github.com/dsrscientist/DSData/raw/master/loan_prediction.csv')
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [10]:
data.sample(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
67,LP001233,Male,Yes,1,Graduate,No,10750,0.0,312.0,360.0,1.0,Urban,Y
527,LP002706,Male,Yes,1,Not Graduate,No,5285,1430.0,161.0,360.0,0.0,Semiurban,Y
377,LP002223,Male,Yes,0,Graduate,No,4310,0.0,130.0,360.0,NaN,Semiurban,Y
273,LP001894,Male,Yes,0,Graduate,No,2620,2223.0,150.0,360.0,1.0,Semiurban,Y
484,LP002543,Male,Yes,2,Graduate,No,8333,0.0,246.0,360.0,1.0,Semiurban,Y
88,LP001289,Male,No,0,Graduate,No,8566,0.0,210.0,360.0,1.0,Urban,Y
400,LP002288,Male,Yes,2,Not Graduate,No,2889,0.0,45.0,180.0,0.0,Urban,N
546,LP002768,Male,No,0,Not Graduate,No,3358,0.0,80.0,36.0,1.0,Semiurban,N
593,LP002936,Male,Yes,0,Graduate,No,3859,3300.0,142.0,180.0,1.0,Rural,Y
507,LP002625,NaN,No,0,Graduate,No,3583,0.0,96.0,360.0,1.0,Urban,N

# Data Analysis

In [11]:
data.shape

(614, 13)

In [12]:
data.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

Dataset have total 614 entries.

It is having 614 Rows and Total 13 columns.

We can see 4 colunms are float, 1 is interger and 8 are object type.

Data having null vaues in gender. married, dependent, Self_Employed, LoanAmount, Loan_Amount_Term and Credit_History columns.

loan ID is unique ID it is Object type, Gender, Married, Dependents, Education, Self_Employed, Property_Area, Loan_Status are categorical values

Here we can see Dependents cannot be a object, its a numerical data, we will check this in further steps.

ApplicantIncome, CoapplicantIncome,LoanAmount, Loan_Amount_Term, Credit_History are Continuous data.

In [14]:
#Droping Loan ID column, as its not important for our analysis.
data.drop('Loan_ID', axis=1, inplace= True)

# Checking Null values

In [ ]:
data.isnull().sum()

Here we can see data is having null values.

# Filling Null values

Here we can see our missing values are less than 5 percent, we can use mean, meadian and Mode to fill Nan.

In [ ]:
data.isnull().sum()

In [ ]:
pd.set_option('display.max_rows', None)

In [ ]:
data.isin(["3+"]).sum()

In [ ]:
data.replace(to_replace="3+", value='3', inplace= True)

In [ ]:
cat_features= data.select_dtypes(include=[np.object])
cat_features.head()

In [ ]:
for col in cat_features:
    print('\n%s column: '%col)
    print(data[col].value_counts())
    print('=='*16)

### Filling Null values in categorical columns using Mode.

In [ ]:
data['Gender'].fillna(value='Male', inplace=True)
data['Married'].fillna(value='Yes', inplace=True)
data['Dependents'].fillna(value='0', inplace=True)
data['Self_Employed'].fillna(value='No', inplace=True)

Lets deal with Numerical data. We will use mean or meadian to replace null values.
First check skewness for categorical data.

Here we can see data is skewed, we use Median not mean

In [ ]:
num_features= data.select_dtypes(include=[np.number])
num_features.head()

In [ ]:
data['LoanAmount'].fillna(value=data['LoanAmount'].median(), inplace= True)
data['Loan_Amount_Term'].fillna(value=data['Loan_Amount_Term'].median(), inplace= True)
data['Credit_History'].fillna(value=data['Credit_History'].median(), inplace= True)

We have removed null values lest check again.

In [ ]:
data.isnull().sum()

In data info we have seen Dependents having data type as object, but it is numerical value. Lets change the Dtype to Int64.

In [ ]:
data['Dependents']=data['Dependents'].astype(str).astype(int)

In [ ]:
data.info()

# Discriptive Statistics

In [ ]:
data.describe()

# EDA

## Univariate Analysis
Using Univariate analysis we will analyse distribution of data using various graphs.

Lets before analysis Label Encode Target columns.

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data['Loan_Status']=le.fit_transform(data['Loan_Status'])

In [ ]:
sns.set_theme(style="darkgrid")
plt.figure(figsize=(15,8))
plt.subplot(1,2,1)
sns.countplot(y=data['Gender'] )
plt.xlabel('Count', fontsize=15 )
plt.ylabel('Gender', fontsize=15 )
plt.title('Gender', fontsize=15)

plt.subplot(1,2,2)
data.groupby('Gender').size().plot(kind='pie', autopct='%.2f')
plt.title('Gender', fontsize=15)
plt.show()

Here we can see 81.76 percent of Applicants are Male.

In [ ]:
sns.set_theme(style="darkgrid")
plt.figure(figsize=(15,8))
plt.subplot(1,2,1)
sns.countplot(y=data['Married'] )
plt.xlabel('Count', fontsize=15 )
plt.ylabel('Married', fontsize=15 )
plt.title('Married', fontsize=15)

plt.subplot(1,2,2)
data.groupby('Married').size().plot(kind='pie', autopct='%.2f')
plt.title('Married', fontsize=15)
plt.show()

We can see 65.31 percent of Applicants are Married.
Mostly married pepole are applying for loans to fullfil their needs.

In [ ]:

sns.set_theme(style="darkgrid")
plt.figure(figsize=(15,8))
plt.subplot(1,2,1)
sns.countplot(y=data['Education'] )
plt.xlabel('Count', fontsize=15 )
plt.ylabel('Education', fontsize=15 )
plt.title('Education', fontsize=15)

plt.subplot(1,2,2)
data.groupby('Education').size().plot(kind='pie', autopct='%.2f')
plt.title('Education', fontsize=15)
plt.show()

Most of the applicatnts are Graduate.
It indicates the chance of Graduate applicants to get approvel is high.

In [ ]:

sns.set_theme(style="darkgrid")
plt.figure(figsize=(15,8))
plt.subplot(1,2,1)
sns.countplot(y=data['Self_Employed'] )
plt.xlabel('Count', fontsize=15 )
plt.ylabel('Self_Employed', fontsize=15 )
plt.title('Self_Employed', fontsize=15)

plt.subplot(1,2,2)
data.groupby('Self_Employed').size().plot(kind='pie', autopct='%.2f')
plt.title('Self_Employed', fontsize=15)
plt.show()

Pie chart indicates 86.64 percent of the applicants are not self_employed.
Only 13.36 Applicants are self employed.
The chance to get load approval is high for applicant who are workign professional or who are in jobs.

In [ ]:

sns.set_theme(style="darkgrid")
plt.figure(figsize=(15,8))
plt.subplot(1,2,1)
sns.countplot(y=data['Property_Area'] )
plt.xlabel('Counts', fontsize=15 )
plt.ylabel('Property_Area', fontsize=15 )
plt.title('Property_Area', fontsize=15)

plt.subplot(1,2,2)
data.groupby('Property_Area').size().plot(kind='pie', autopct='%.2f')
plt.title('Property_Area', fontsize=15)
plt.show()

In [ ]:
Here we can see Semiurban applicants are more, but the numbers are not very much high,
Chance of getting loan for each are eaqual.

In [ ]:
sns.set_theme(style="darkgrid")
plt.figure(figsize=(15,8))
plt.subplot(1,2,1)
sns.countplot(y=data['Dependents'] )
plt.xlabel('Counts', fontsize=15 )
plt.ylabel('Dependents', fontsize=15 )
plt.title('Dependents', fontsize=15)

plt.subplot(1,2,2)
data.groupby('Dependents').size().plot(kind='pie', autopct='%.2f')
plt.title('Dependents', fontsize=15)
plt.show()

Here we can see 58.63 percent of Applicants are having 0 dependents.

In [ ]:
plt.figure(figsize=(15,7))

sns.histplot(num_features['ApplicantIncome'], bins= 30, color='g')
plt.xlabel('ApplicantIncome', fontsize=15 )
plt.ylabel('Counts', fontsize=15 )
plt.title('ApplicantIncome', fontsize=15)

Most of the applicants falls under 10000, very few are having income greater than 10000

In [ ]:
plt.figure(figsize=(15,7))

sns.histplot(num_features['CoapplicantIncome'], bins= 30, color='g')
plt.xlabel('CoapplicantIncome', fontsize=15 )
plt.ylabel('Density', fontsize=15 )
plt.title('CoapplicantIncome', fontsize=15)

Here we can see coapplicants income is very less as compare to applicants income at the same time numbers also very less.

In [ ]:
plt.figure(figsize=(15,7))

sns.histplot(num_features['LoanAmount'], bins= 50, color='g')
plt.xlabel('LoanAmount', fontsize=15 )
plt.ylabel('Density', fontsize=15 )
plt.title('LoanAmount', fontsize=15)

Here we can see most of the applicants apply loan in the range of 100-200, Loan number of applicants for loan values greater than 200 are less.

In [ ]:

plt.figure(figsize=(15,7))

sns.histplot(num_features['Loan_Amount_Term'], bins= 10)
plt.xlabel('Loan_Amount_Term', fontsize=15 )
plt.ylabel('Density', fontsize=15 )
plt.title('Loan_Amount_Term', fontsize=15)

Here we can see most of the loan terms are lie bwteen 350-400 range,
applicat with Loan_Amont_term 350 are high in number.

In [ ]:

sns.set_theme(style="darkgrid")
plt.figure(figsize=(15,8))
plt.subplot(1,2,1)
sns.countplot(y=data['Credit_History'] )
plt.xlabel('Counts', fontsize=15 )
plt.ylabel('Credit_History', fontsize=15 )
plt.title('Credit_History', fontsize=15)

plt.subplot(1,2,2)
data.groupby('Credit_History').size().plot(kind='pie', autopct='%.2f')
plt.title('Credit_History', fontsize=15)
plt.show()

we can see 85.50 percent of Applicants are having Credit_History.

# Bivariate Analysis
In this secton we will analyse our target variable againt the input values. And check the relationship.

In [ ]:

plt.figure(figsize=(15,7))
sns.countplot(data['Gender'], hue='Loan_Status', data= data)
plt.xlabel('Gender', fontsize= 15)
plt.ylabel('Count', fontsize= 15)
plt.show()

Here we can see mostly male apply for loan and the chance for getting approval is high.

In [ ]:

plt.figure(figsize=(15,7))
sns.countplot(data['Married'], hue='Loan_Status', data= data)
plt.xlabel('Married', fontsize= 15)
plt.ylabel('Count', fontsize= 15)
plt.show()

Here we can see mostly marrieed pepole apply for loan and count for getting loan is high as compared to Non- married.

In [ ]:

plt.figure(figsize=(15,7))
sns.countplot(data['Education'], hue='Loan_Status', data= data)
plt.xlabel('Education', fontsize= 15)
plt.ylabel('Count', fontsize= 15)
plt.show()

We can see Graduate Applicants are more and getting approval also more for Graduate applicants.

In [ ]:

plt.figure(figsize=(15,7))
sns.countplot(data['Self_Employed'], hue='Loan_Status', data= data)
plt.xlabel('Self_Employed', fontsize= 15)
plt.ylabel('Count', fontsize= 15)
plt.show()

We can see self_employed applicants are less, the change for getting approval is low for Self_employed applicants.

In [ ]:
plt.figure(figsize=(15,7))
sns.countplot(data['Property_Area'], hue='Loan_Status', data= data)
plt.xlabel('Property_Area', fontsize= 15)
plt.ylabel('Count', fontsize= 15)
plt.show()

Here we can see Applicants from Semiurban area are having higher chance for approval as numbers are high as compare to other Area.

In [ ]:
plt.figure(figsize=(15,7))
sns.countplot(data['Credit_History'], hue='Loan_Status', data= data)
plt.xlabel('Credit_History', fontsize= 15)
plt.ylabel('Count', fontsize= 15)
plt.show()

Here we can see Applicant having create histry, having good chance for approval.

In [ ]:

plt.figure(figsize=(10,6))
sns.lineplot(x='ApplicantIncome',y='LoanAmount',data=data)

We can see with increase in the income parameter loan amount also increasing. but the number of applicants are less. Because with increase in the income there is no need for loan.

In [ ]:

plt.figure(figsize=(15,7))
sns.distplot(data[data['Loan_Status']==0]['ApplicantIncome'], hist=False)
sns.distplot(data[data['Loan_Status']==1]['ApplicantIncome'], hist=False )

Here we can see initially with less income, chance of approval is low,
But as the income increase chance of approval also increase.

In [ ]:
plt.figure(figsize=(15,7))
sns.distplot(data[data['Loan_Status']==0]['Loan_Amount_Term'], hist=False)
sns.distplot(data[data['Loan_Status']==1]['Loan_Amount_Term'], hist=False )

Here we can see between 300- 400 the chance of approval are good.

In [ ]:
plt.figure(figsize=(15,7))
sns.distplot(data[data['Loan_Status']==0]['CoapplicantIncome'], hist=False)
sns.distplot(data[data['Loan_Status']==1]['CoapplicantIncome'], hist=False )

Here we can see coapplicantincome increases the chance of getting approval.

In [ ]:
plt.figure(figsize=(15,7))
sns.distplot(data[data['Loan_Status']==0]['LoanAmount'], hist=False)
sns.distplot(data[data['Loan_Status']==1]['LoanAmount'], hist=False )

For loan amount lower than 200, the chance of getting approval is good, But as the loan amount increase, chance of getting approval is decreases.


# Multivariate Anaysis

In [ ]:
sns.pairplot(data=data, hue='Loan_Status')

# EDA Summary

Gender: For male Chance of approval is high.

Married: Married Applicants are more so the chances for approval also high.

Dependents: Higher the Number of dependent lowers the chance of approval. Education: Chances for approval increase with higher education.

Self_Employed: It lowers the chance of loan approval. ApplicantIncome: It also increse the chance of loan approval.

CoapplicantIncome : CoapplicantIncome incease the chance of loan approval increases. LoanAmount : For higher loan chances of approval are low.

Loan_Amount_Term: For specofic term the chances are high, but is it not linear. Credit_History: Applicant with creadit history have high chance of approval. Property_Area: Semi Urban Area have hugh chance of approval.

# Data Preprocessing

In this stage we will prepare our data for modle builing

we will change the categorical data into numerical data using encoders

Then we will check the outliers and skewness for conteneus columns.

At the scaling of data etc.

# Categorical columns need to endcode

'Gender', 'Married','Education', 'Self_Employed', 'Property_Area'

All are nominal values we can use pandas get_dummies to encode our categorical colummns.

In [ ]:
feature=data.drop(['Loan_Status'], axis=1)
target= data['Loan_Status']
data_new= pd.get_dummies(feature,sparse=False, drop_first=True )
data_new['Loan_Status']= target
data_new.shape

In [ ]:
data_new.head()

In [ ]:
data_new.corr()

In [ ]:
plt.figure(figsize=(15,7))
sns.heatmap(data_new.corr(), annot=True, linewidths=1,linecolor='black',fmt=' .2f')

In [ ]:
plt.figure(figsize=(15,10))
data_new.corr()['Loan_Status'].sort_values(ascending=False).drop(['Loan_Status']).plot(kind='bar',color='c')
plt.xlabel('Feature', fontsize=14)
plt.ylabel('Columns with target name', fontsize=14)
plt.title('Correlation',fontsize=18)
plt.show()

Here we can see Credit histry , Property area, Married_yes, Gender anddependent having positive corelation, where as other have negative or zero corelation.

# Checkign outliers and skewness

In [ ]:

data_new['ApplicantIncome'].plot.box()

In [ ]:
data_new['CoapplicantIncome'].plot.box()
data_new['LoanAmount'].plot.box()
data_new['Loan_Amount_Term'].plot.box()

We can see contineous columns are having outliers.

# Remove Outliers

In [ ]:
from scipy.stats import zscore
z= np.abs(zscore(data_new))
threshold = 3
print(np.where(z > 3))

In [ ]:
df=data_new[(z<3).all(axis=1)]
print(data_new.shape)
print(df.shape)

In [ ]:
Loss_percentage=(614-577)/614*100
print(Loss_percentage)

In [ ]:
df.skew()

ApplicantIncome, CoapplicantIncome,LoanAmount, Loan_Amount_Term are having skewness, lets remove using log transform.

In [ ]:
from sklearn.preprocessing import power_transform

In [ ]:
df_skewed=df.iloc[:,0:6]

In [ ]:

X=power_transform(df_skewed, method='yeo-johnson')

In [ ]:
X=pd.DataFrame(data=X, columns=['Dependents','ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History'])

In [ ]:
df.drop(['Dependents','ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History'], axis=1,inplace=True)

In [ ]:
df=df.reset_index()
df['Dependents']=X['Dependents']
df['ApplicantIncome']=X['ApplicantIncome']
df['CoapplicantIncome']=X['CoapplicantIncome']
df['LoanAmount']=X['LoanAmount']
df['Loan_Amount_Term']=X['Loan_Amount_Term']
df['Credit_History']=X['Credit_History']
df.head()

# Scaling the data Using StandardScaler.

In [ ]:
# Dividing into Feature and Target data
x=df.drop(['index', 'Loan_Status'],axis=1)
y=df['Loan_Status']

In [ ]:
from sklearn.preprocessing import StandardScaler
SDC=StandardScaler()
x=SDC.fit_transform(x)
sns.countplot(y)

Here we can see our output is not balanced we will now use SMOTE to balance the output.

In [ ]:
from imblearn.over_sampling import SMOTE
X_train_over, Y_train_over =SMOTE(k_neighbors=3).fit_resample(x,y)
X_train_over.shape

In [ ]:
Y_train_over.value_counts()

In [ ]:
dfx=pd.DataFrame(data=X_train_over, columns=['Gender_Male','Married_Yes','Education_Not Graduate','Self_Employed_Yes','Property_Area_Semiurban','Property_Area_Urban','Dependents','ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History'])

Here we can see over data is balance now.

In [ ]:
# VIF calculation

In [ ]:
import statsmodels.api as sm
from scipy import stats
from statsmodels.stats.outliers_influence import variance_inflation_factor
def calc_vif(x):
    vif=pd.DataFrame()
    vif['variables']=x.columns
    vif['VIF FACTOR']=[variance_inflation_factor(x.values,i) for i in range(x.shape[1])]
    return(vif)
calc_vif(dfx)

Vif is less than 10 we can proceed for model development

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix

from sklearn.linear_model import LogisticRegression 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier 
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier 
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB

In [ ]:
x=dfx
y=Y_train_over

In [ ]:
x.shape

In [ ]:
y.shape

# Chosing Best Random State

In [ ]:
lr= LogisticRegression()
for i in range(0,1000):
    x_train, x_test, y_train, y_test= train_test_split(x,y, random_state= i, test_size= 0.20)
    lr.fit(x_train, y_train)
    pred_train=lr.predict(x_train)
    pred_test=lr.predict(x_test)
    if round(accuracy_score(y_train,pred_train)*100,1)== round(accuracy_score(y_test,pred_test)*100,1):
        print("At Random state ", i, "The Model performing Well")
        print("At Random State", i)
        print("Training Accuracy score is-",accuracy_score(y_train,pred_train)*100 )
        print("Testing Accuracy Score is-", accuracy_score(y_test,pred_test)*100)

In [ ]:
x_train_b, x_test_b, y_train_b, y_test_b= train_test_split(x,y,random_state=801,test_size=0.20)

In [ ]:
lr.fit(x_train_b, y_train_b)
lr_pred=lr.predict(x_test_b)
print(accuracy_score(y_test_b,lr_pred))

In [ ]:
from sklearn.metrics import classification_report 
print(confusion_matrix(y_test_b, lr_pred))
print(classification_report(y_test_b, lr_pred))

# Cross validation of model

In [ ]:
lr_pred=lr.predict(x_test_b)
from sklearn.model_selection import cross_val_score
lr_score=accuracy_score(y_test_b,lr_pred)
for j in range(2,10):
    lr_cv= cross_val_score(lr,x,y,cv=j, scoring='accuracy')
    lr_cvscore=lr_cv.mean()
    print("at cv:-", j)
    print("Cross Validation scre is:-",lr_cvscore*100)
    print("Accuracy Score:-", lr_score*100)
    print("\n")

At cv-7 Cross val score and Accuracy Score are having diffrence, Model is not perfoming well.
But still need improvement
Lets try another model

# SVC

In [ ]:
svc=SVC()
svc.fit(x_train_b, y_train_b)
svc.score(x_train_b, y_train_b)
svc_pred=svc.predict(x_test_b)

svc_d=accuracy_score(y_test_b, svc_pred)
print('Accuracy_core:', svc_d*100)

svc_cv= cross_val_score(svc,x,y,cv=7, scoring='accuracy')
svc_score=svc_cv.mean()
print('Cross val Score :', svc_score*100)

In [ ]:
print(confusion_matrix(y_test_b, svc_pred))
print(classification_report(y_test_b, svc_pred))

Accuracy_core: 75.625 Cross val Score : 75.26005278683435
Diffrence is lesser as compare to Logistic regression, lets try anaother model.

In [ ]:
# Ensemble Techniques

## KNeighborsClassifier

In [ ]:
kn=KNeighborsClassifier()
kn.fit(x_train_b, y_train_b)
kn.score(x_train_b,y_train_b)
kn_pred=kn.predict(x_test_b)

kn_score= accuracy_score(y_test_b, kn_pred)
print('accuracy_score:', kn_score*100)

kncvscore=cross_val_score(kn,x,y, cv=7, scoring='accuracy')
kncv_score=kncvscore.mean()
print('Cross val Score :',kncv_score*100 )

In [ ]:
print(confusion_matrix(y_test_b, kn_pred))
print(classification_report(y_test_b, kn_pred))

Both accuracy score and Cross val score having lesser diffrence, as compare to SVC and logistic, KNeighborsClassifier is performing well.

# DecisionTreeClassifier

In [ ]:
dt=DecisionTreeClassifier()
dt.fit(x_train_b,y_train_b)
dt.score(x_train_b, y_train_b)
dt_pred=dt.predict(x_test_b)

dt_score= accuracy_score(y_test_b, dt_pred)
print("accuracy_score", dt_score*100)

dt_cv=cross_val_score(dt,x,y,cv=7, scoring='accuracy')
dtcv_score= dt_cv.mean()
print("Cross val score is:",dtcv_score*100 )

In [ ]:
print(confusion_matrix(y_test_b, dt_pred))
print(classification_report(y_test_b, dt_pred))

accuracy_score 73.125
Cross val score is: 79.65378046887129
Both accuracy score and Cross val score having big diffrence, Model performance is bad.

# RandomForestClassifier

In [ ]:
rf=RandomForestClassifier()
rf.fit(x_train_b, y_train_b)
rf.score(x_train_b,y_train_b)
rf_pred=rf.predict(x_test_b)

rf_score= accuracy_score(y_test_b, rf_pred)
print('accuracy_score: ', rf_score*100)

rfcvscore=cross_val_score(rf,x,y, cv=7, scoring='accuracy')
rfcv_score=rfcvscore.mean()
print('Cross val Score :',rfcv_score*100 )

In [ ]:
print(confusion_matrix(y_test_b, rf_pred))
print(classification_report(y_test_b, rf_pred))

accuracy_score: 85.625
Cross val Score : 85.06443098897688
    
Both the score are having very less diffrence as compare to other models, RandomForestClassifier performing good.

# AdaBoostClassifier

In [ ]:
ad=AdaBoostClassifier()
ad.fit(x_train_b, y_train_b)
ad.score(x_train_b,y_train_b)
ad_pred=ad.predict(x_test_b)

ad_score= accuracy_score(y_test_b, ad_pred)
print('accuracy_score: ', ad_score*100)

adcvscore=cross_val_score(ad,x,y, cv=7, scoring='accuracy')
adcv_score=adcvscore.mean()
print('Cross val Score :',adcv_score*100 )

In [ ]:
print(confusion_matrix(y_test_b, ad_pred))
print(classification_report(y_test_b, ad_pred))

Model performance is bad. RandomForestClassifier is still better.

# GaussianNB

In [ ]:
from sklearn.naive_bayes import GaussianNB
gb=GaussianNB()
gb.fit(x_train_b, y_train_b)
gb.score(x_train_b, y_train_b)
gb_pred=gb.predict(x_test_b)

gb_score=accuracy_score(y_test_b, gb_pred)
print("Accuracy Score is:", gb_score*100)

gb_cv= cross_val_score(gb, x,y,cv=7, scoring='accuracy')
gb_cvscore=gb_cv.mean()
print("Cross Val Score is :", gb_cvscore*100)

In [ ]:
print(confusion_matrix(y_test_b, gb_pred))
print(classification_report(y_test_b, gb_pred))

Model performance is good,but RandomForestClassifier is still better

# Hyperparameter Tuning of the model

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier

parameters={'n_estimators' : [100, 300,400, 500, 800, 1200], 'criterion':['gini', 'entropy'], 'max_features':['auto','sqrt', 'log2'], 'min_samples_split':[2, 5, 10, 15, 100],'max_depth':[5, 8, 15, 25, 30] }
rf=RandomForestClassifier()
rfclf=GridSearchCV(rf, param_grid=parameters, n_jobs=-1)
rfclf.fit(x_train_b, y_train_b)
print(rfclf.best_params_)

In [ ]:
rf=RandomForestClassifier(criterion='gini',max_depth=25, max_features='auto', min_samples_split=2, n_estimators=500 )
rf.fit(x_train_b, y_train_b)
rf.score(x_train_b,y_train_b)
rf_pred=rf.predict(x_test_b)

rf_score= accuracy_score(y_test_b, rf_pred)
print('accuracy_score: ', rf_score*100)

rfcvscore=cross_val_score(rf,x,y, cv=7,scoring='accuracy')
rfcv_score=rfcvscore.mean()
print('Cross val Score :',rfcv_score*100 )

In [ ]:
rf=RandomForestClassifier(criterion='gini',max_depth=25, max_features='auto', min_samples_split=2, n_estimators=500 )
rf.fit(x_train_b, y_train_b)
rf.score(x_train_b,y_train_b)
rf_pred=rf.predict(x_test_b)

rf_score= accuracy_score(y_test_b, rf_pred)
print('accuracy_score: ', rf_score*100)

rfcvscore=cross_val_score(rf,x,y, cv=7,scoring='accuracy')
rfcv_score=rfcvscore.mean()
print('Cross val Score :',rfcv_score*100 )

In [ ]:
dt=DecisionTreeClassifier(criterion='entropy', max_features='auto', splitter= 'best', min_samples_leaf=1)
dt.fit(x_train_b,y_train_b)
dt.score(x_train_b, y_train_b)
dt_pred=dt.predict(x_test_b)

dt_score= accuracy_score(y_test_b, dt_pred)
print("accuracy_score", dt_score*100)

dt_cv=cross_val_score(dt,x,y,cv=7, scoring='accuracy')
dtcv_score= dt_cv.mean()
print("Cross val score is:",dtcv_score*100 )

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
parameters={'n_neighbors':[1,3,4,5,7,9],'weights':['uniform', 'distance'], 'algorithm':['auto','ball_tree','kd_tree', 'brute'], 'leaf_size':[10,20,30,40,50]}
kn=KNeighborsClassifier()
knclf=GridSearchCV(kn,parameters)
knclf.fit(x_train_b, y_train_b)
print(knclf.best_params_)

In [ ]:
kn=KNeighborsClassifier(algorithm='auto',leaf_size=10,  n_neighbors=1, weights='uniform')
kn.fit(x_train_b, y_train_b)
kn.score(x_train_b,y_train_b)
kn_pred=kn.predict(x_test_b)

kn_score= accuracy_score(y_test_b, kn_pred)
print('accuracy_score:', kn_score*100)

kncvscore=cross_val_score(kn,x,y, cv=7, scoring='accuracy')
kncv_score=kncvscore.mean()
print('Cross val Score :',kncv_score*100 )

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC
parameters= {'C':[0.1,1.0,1.5,2,2.5],'kernel':[ 'linear','poly', 'rbf', 'sigmoid'], 'random_state': list(range(0,5)), 'gamma':['scale', 'auto'],'decision_function_shape':['ovo', 'ovr']}
svc=SVC()
clf=GridSearchCV(svc, param_grid=parameters, n_jobs=-1)
clf.fit(x_train_b, y_train_b)
print(clf.best_params_)

In [ ]:
scv=SVC(C=2.5,decision_function_shape='ovo', gamma='auto', kernel='rbf', random_state=0)
svc.fit(x_train_b, y_train_b)
svc.score(x_train_b, y_train_b)
svc_pred=svc.predict(x_test_b)

svc_d=accuracy_score(y_test_b, svc_pred)
print('Accuracy_core:', svc_d*100)

svc_cv= cross_val_score(svc,x,y,cv=6, scoring='accuracy')
svc_score=svc_cv.mean()
print('Cross val Score :', svc_score*100)

RandomForestClassifier with accuracy_score: 84.375 Cross val Score : 85.44147980570897 is our best model.

# AUC ROC Curve:

In [ ]:
from sklearn.metrics import roc_curve, auc
fpr, tpr, thresholds= roc_curve(rf_pred, y_test_b)
roc_auc= auc(fpr, tpr)

plt.figure()
plt.plot(fpr,tpr, color='darkorange', lw=10,label='ROC curve (area= %0.2f)' %roc_auc)
plt.plot([0,1],[0,1],color ='navy', lw=10, linestyle= '--')
plt.xlim([0.0, 1.0])
plt.xlim([0.0, 1.05])
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.title('Receiver operating characteristic')
plt.legend(loc="lower right")
plt.show()

In [ ]:
import pickle
filename="Evaluation_Project_Loan_Application_Status_Prediction.pkl "
pickle.dump(dt, open(filename,'wb'))

In [ ]:
import numpy as np
a=np.array(y_test_b)
predicted= np.array(rf.predict(x_test_b))
df_com= pd.DataFrame({'original':a, 'predicted':predicted}, index= range(len(a)))
df_com