In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
import joblib
import scipy as stats
from scipy.stats import zscore
from sklearn.preprocessing import PowerTransformer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.linear_model import LogisticRegression, Lasso,Ridge
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor as KNN
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.linear_model import SGDRegressor
from sklearn.metrics import classification_report
from sklearn.model_selection import cross_val_score
from sklearn import metrics
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix,roc_auc_score,roc_curve
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier
from sklearn.model_selection import GridSearchCV
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv(r"C:\Users\udayr\zomato1.csv", encoding='ISO-8859-1')
pd.set_option('display.max_columns', 500)
data.head(2)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",1100,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314.0
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,1200,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591.0

In [3]:
data.sample(5)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
28835,4345,23,technician,single,unknown,no,710,yes,no,unknown,19,may,374,6,-1,0,unknown,no,NaN,NaN,NaN
3602,18359294,Dilli Grillz,1,New Delhi,"Ground Floor, Fun City Mall, Prashant Vihar, N...","Fun City Mall, Prashant Vihar","Fun City Mall, Prashant Vihar, New Delhi",77.1359778,28.7125231,"North Indian, Chinese",600,Indian Rupees(Rs.),No,Yes,No,No,2,0,White,Not rated,2.0
27896,6167,51,blue-collar,married,primary,no,-26,yes,no,unknown,27,may,47,1,-1,0,unknown,no,NaN,NaN,NaN
17776,10290,39,services,married,secondary,no,257,yes,no,unknown,12,jun,171,1,-1,0,unknown,no,NaN,NaN,NaN
22642,16413,49,technician,married,secondary,no,-142,yes,yes,cellular,23,jul,73,4,-1,0,unknown,no,NaN,NaN,NaN

In [4]:
data.shape

(31647, 21)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31647 entries, 0 to 31646
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         31647 non-null  int64
 1   Restaurant Name       31647 non-null  object
 2   Country Code          31647 non-null  object
 3   City                  31647 non-null  object
 4   Address               31647 non-null  object
 5   Locality              31647 non-null  object
 6   Locality Verbose      31647 non-null  object
 7   Longitude             31647 non-null  object
 8   Latitude              31647 non-null  object
 9   Cuisines              31638 non-null  object
 10  Average Cost for two  31647 non-null  int64
 11  Currency              31647 non-null  object
 12  Has Table booking     31647 non-null  object
 13  Has Online delivery   31647 non-null  object
 14  Is delivering now     31647 non-null  object
 15  Switch to order menu  31647 non-null  object
 16  Price range           31647 non-null  object
 17  Aggregate rating      31647 non-null  object
 18  Rating color          9551 non-null   object
 19  Rating text           9551 non-null   object
 20  Votes                 9551 non-null   float64
dtypes: float64(1), int64(2), object(18)
memory usage: 5.1+ MB

In [10]:
data_country =pd.read_csv(r"C:\Users\udayr\dataset4-main\Country-Code.xlsx", encoding='ISO-8859-1')
data_country.head()

ParserError: Error tokenizing data. C error: Expected 2 fields in line 3, saw 4

In [ ]:
data.isnull().sum()

In [ ]:
data.drop(['Rating color','Rating text','Votes'] ,axis=1,inplace=True)

In [ ]:
data.duplicated().sum()

In [ ]:
data.isin([" "]).sum()

In [ ]:
# [features for features in data.columns if data[features].isnull().sum()>0]

In [ ]:
# zomato_new = data[data['Cuisines'].notnull()] # filtering out the null values from the data
# zomato_new.head()

In [ ]:
# cuisines = zomato_new['Cuisines'].apply(lambda x: pd.Series(x.split(','))) # splitting the column 'Cuisine' into multiple columns 
# cuisines.columns=['Cuisine 1','Cuisine 2','Cuisine 3','Cuisine 4','Cuisine 5','Cuisine 6','Cuisines 7','Cuisine 8']# renaming the columns
# cuisines.head()

In [ ]:
# result = pd.concat([data, cuisines], axis=1) #concating the two dataframes 
# result.head()

In [ ]:
# result.head()

In [ ]:
# locality=pd.DataFrame(result[['Locality Verbose','Cuisine 1','Cuisine 2','Cuisine 3','Cuisine 4','Cuisine 5','Cuisine 6','Cuisines 7','Cuisine 8']])
# locality_stack=pd.DataFrame(locality.stack()) #stacking the columns 
# locality.head()

In [ ]:
# cat_feature= data.select_dtypes(include=[np.object])
# cat_feature.head(2)

In [ ]:
features_with_na = [feature for feature in data.columns if data[feature].isnull().sum()>0]
print(features_with_na)

In [ ]:
data["City"].loc[data["Aggregate rating"] == 0.0].value_counts()

In [ ]:
data[data["Aggregate rating"] == 0.0].groupby("City").size().reset_index()

In [ ]:
## Which currency is used by which city?
data.groupby(["City","Currency"]).size().reset_index()

In [ ]:
## City do have online deliveries option
data["City"].loc[data["Has Online delivery"]=="Yes"].value_counts()

In [ ]:
# data.groupby(["City","Has Online delivery"]).size().reset_index()

Observations:
Online deliveries are available in India and UAE

In [ ]:
## top 5 cities distribution
city_names = data["City"].value_counts().index
city_vals = data["City"].value_counts().values
plt.pie(city_vals[:5],labels=city_names[:5],autopct="%1.2f%%")

Observation:
New Delhi city has wide usage of zomato followed by Gurgaon and Noida

In [ ]:
## The top 10 Cuisines
plt.figure(figsize = (10, 10))
cuisine_names = data["Cuisines"].value_counts().index
cuisine_vals = data["Cuisines"].value_counts().values
plt.pie(cuisine_vals[:10],labels=cuisine_names[:10],autopct="%1.2f%%")

Observation:
North Indian,Chinese is the most ordered and served cuisine among all followed by Chinese and Fast Food

In [ ]:
data.groupby(["Has Online delivery","Is delivering now"]).size().reset_index()

In [ ]:
data.describe()

In [ ]:
num_feature= data.select_dtypes(include=[np.number])

In [ ]:
plt.figure(figsize=(20,20), facecolor='white')
plotnumber= 1

for column in num_feature:
    if plotnumber<=18:
        ax= plt.subplot(6,3, plotnumber)
        sns.distplot(num_feature[column],color='Red',kde_kws={"color": "k", "lw": 2.5, "label": "KDE"})
        plt.xlabel(column, fontsize= 20)
        plt.ylabel('Density', fontsize= 20)
    plotnumber+=1
plt.tight_layout()

In [ ]:
# plt.figure(figsize= (20,20))
# sns.pairplot(data= data)